
// Border gradient
@mixin border-gradient($border-lenght, $height ){
  &{
    position: relative;
    z-index: 2;
  }
  &:before,
  &:after{
    content: '\00a0';
    position: absolute;
    width: 100%;
    padding: #{$border-lenght}px;
    border-radius: 30px;
    background: black;
    z-index: 1;
    line-height: $height;

    // Apply gradient background
    @include gradient-horizontal-three-colors($brand-primary, $brand-midcolor, 50%, $brand-secondary);
  }

  &:after{
    top: -#{$border-lenght}px;
    right: -#{$border-lenght}px
  }

  &:before{
    top: -#{$border-lenght}px;
    left: -#{$border-lenght}px;
  }
}