$bootstrap-sass-asset-helper: false !default;
//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:         #000 !default;
$gray-darker:       lighten($gray-base, 13.5%) !default; // #222
$gray-dark:         lighten($gray-base, 20%) !default; // #333
$gray:              lighten($gray-base, 33.5%) !default; // #555
$gray-light:        lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:      lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:     #f39227 !default; // #337ab7
$brand-secondary:   #e6144f !default;
$brand-midcolor:    #f07e38 !default;
$brand-success:     #5cb85c !default;
$brand-info:        #5bc0de !default;
$brand-warning:     #f0ad4e !default;
$brand-danger:      #d9534f !default;
$gray-primary:      #efefee !default;

// Input
$input-border-focus:    $brand-secondary !default;
$content-bg-secondary:  #f6f2ea !default;
$text-color: rgba(0, 0, 0, 0.8) !default;

// Images path
$images-path: "../../img";

// Icons font path
$icon-font-path: if($bootstrap-sass-asset-helper, "bootstrap/", "../../fonts/bootstrap/") !default;