@import "bootstrap";
// Custom Bootstrap
@import "hamburgers/hamburgers"; // Hamburgers! (responsive button styles)

@import "select2/core";

// Remove all outline for all form inputs
.form-control {
  outline: none;
}

/*
|------------------------------------------------------------------
|  HEADER STYLES
|------------------------------------------------------------------
| - Header and footer styles
| - Primary header
| - Menu active
| - Brand logo
| - Hamburger button
| - Separator
| - Search box
| - Navigation links
| - Media queries
|
|
*/

/*----------------------------------------------
  - Primary header and Primary Footer styles
-----------------------------------------------*/
.primary-header,
.primary-footer {

  // Background gradient
  @include gradient-horizontal-three-colors($brand-primary, $brand-midcolor, 50%, $brand-secondary);
  padding: 10px 0;
  min-height: 50px;
  line-height: 30px;
  opacity: .95;

  a.logo {
    background-image: url("#{$images-path}/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 30px;
    float: left;
    display: inline-block;
  }
}

/*-------------------------------------
  - Primary header
-------------------------------------*/
.primary-header {
  position: fixed;
  width: 100%;
  z-index: 99999;
  @include transition(all .5s .5s, .5s);
  /*-------------------------------------
   - Menu active
  -------------------------------------*/
  &.active {
    @include transition(all .5s .5s, .5s);
    // search box
    .search-box {
      display: block;
    }

    // menu links
    nav.primary-navigation {
      display: block;
    }

    // menu separator
    hr.separator {
      display: block;
    }
  }

  /*-------------------------------------
   - Brand logo
  -------------------------------------*/
  a.logo {
    float: none;
    display: block;
  }

  /*-------------------------------------
   - Hamburger button
  -------------------------------------*/
  .hamburger {
    position: absolute;
    top: 10px;
    right: 15px;
    line-height: 1;
    background: transparentize(white, .80);
  }

  /*-------------------------------------
   - Separator
  -------------------------------------*/
  hr.separator {
    display: none;
    margin: 10px 0;
    height: 1px;
    border: 0;
    background: transparentize(white, .7);
  }

  /*-------------------------------------
   - Search box
  -------------------------------------*/
  .search-box {
    $border-lenght-searchbox: 1;
    display: none;
    position: relative;
    float: none;
    position: relative;
    width: 100%;
    margin-top: 5px;

    .input-search {
      border-radius: 30px;
      border: 0;
      position: relative;
      z-index: 2;
      background-image: url("#{$images-path}/search.png");
      background-position: center right;
      background-repeat: no-repeat;
      padding-right: 36px;
    }

    .select2 {
      &.select2-container {
        width: 100% !important;
      }
      .selection {
        .select2-selection {
          background-image: url("#{$images-path}/search.png");
          background-position: center right;
          background-repeat: no-repeat;
          padding-right: 36px;
          border-radius: 30px;
          line-height: 1;
          border: 0;

          ul.select2-selection__rendered {
            li.select2-selection__choice {
              border: 1px solid $brand-secondary;
              color: $brand-secondary;
              background: white;
              margin: 3px;
              padding: 2px 5px;
              line-height: 20px;
              span.select2-selection__choice__remove {
                color: $brand-secondary;
              }
            }
          }
        }
      }
    }
  }

  /*-------------------------------------
   - Navigation links
  -------------------------------------*/
  nav.primary-navigation {
    display: none;
    font-weight: 200;
    float: none;
    text-transform: uppercase;
    margin: 5px 0 5px 0;
    width: 100%;

    // layout
    .nav > li {
      display: block;
      float: none;

      & a {
        margin: 0 0 5px 0;
      }
    }

    // Remove default backgrounds
    .nav-pills > li.active > a,
    .nav > li > a {
      font-size: 12px;
      background: transparent;
      padding: 0px 10px;
      @include transition(all .5s .5s, .5s);
    }

    // background on events
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus,
    .nav > li > a:hover,
    .nav > li > a:focus {
      background: rgba(white, .2);
    }

    // default color
    .nav > li > a {
      color: white;
    }
  }
}

/*-------------------------------------
  - Media queries for header
-------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

  .primary-header,
  &.active {

    // brand logo
    a.logo {
      float: left;
    }

    // hamburger responsive button
    .hamburger {
      display: none;
    }

    // separator
    hr.separator {
      display: none !important;
    }

    // search box
    .search-box {
      display: block;
      margin: 0 0 0 15px;
      float: right;
      width: 40%;
    }

    // menu links
    nav.primary-navigation {
      display: block;
      float: right;
      margin: 0;
      width: auto;

      .nav > li {
        display: inline;
        float: left;

        & a {
          margin: 0 0 5px 0;
        }
      }
    }
  }
}

/* Large devices */
@media (min-width: $screen-md-min) {
  .primary-header {

    // search box
    .search-box {
      width: 40%;
      max-width: 400px;
    }
  }
}

/*
|------------------------------------------------------------------
| FOOTER STYLES
|------------------------------------------------------------------
| - Primary Footer
|
*/

/*-------------------------------------
  - Primary Footer
 -------------------------------------*/
.primary-footer {
  margin-top: -50px;
}

/*
|------------------------------------------------------------------
| Content Styles
|------------------------------------------------------------------
| - Main Wrapper
| - Content Wrapper
| - Page Headings
| - Video Thumbnails
| - Page Featured Image
| - Buttons
| - Pagination
|
|
*/

/*-------------------------------------
  - Main Wrapper
 -------------------------------------*/
#main-wrap {
  min-height: 100vh;
  position: relative;
  padding: 55px 0;
}

/*-------------------------------------
  - Content Wrapper
 -------------------------------------*/
.content {
  position: relative;
  padding: 15px 0;
}

/*-------------------------------------
  - Page Headings
 -------------------------------------*/
.heading-primary {
  padding: 20px 0;
  background: $gray-primary;
  color: rgba(black, .7);
  margin-bottom: 15px;

  h3 {
    margin: 0;
    font-weight: 200;
    font-size: 20px;
  }
}

/*-------------------------------------
  - Video Thumbnails
-------------------------------------*/
.video-thumbnail {
  background: $gray-primary;
  padding: 2px;
  position: relative;
  z-index: 2;
  color: rgba(black, .6);
  font-size: 13px;
  margin-bottom: 30px;
  background-position-y: 400px;
  background-position-x: 400px;
  @include transition(all .1s .3s, .1s);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.42);

  // Overlay
  .contextual-details {
    display: none;
    background: rgba($gray-primary, .9);
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    & .details-wrapper {
      display: table;
      position: relative;
      width: 100%;
      height: 100%;

      & .details-close {
        background: url("#{$images-path}/close.png");
        height: 20px;
        width: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
        background-size: 20px;
        background-position: center center;
        background-repeat: no-repeat;
      }

      & .details-content {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
  }

  // thumbnail content
  .thumbnail-content {

    min-height: 400px;
    padding: 15px;
    background: $gray-primary;

    .heading {
      padding: 15px 0 0 0;
      border-bottom: 1px solid #333333;
    }

    .content {
      padding: 15px 0;

      .desc {
        min-height: 150px;
      }
    }
  }

  // styles on hover
  &:hover {
    @include gradient-horizontal-three-colors($brand-primary, $brand-midcolor, 25%, $brand-secondary);
    background-position-y: 0px;
    background-position-x: 0px;
  }
}

/*-------------------------------------
  - Page Featured Image
-------------------------------------*/
.featured-image {

  width: 100%;
  height: 180px;
  background-size: auto 100%;
  background-position: 20%;

  /* Small devices (tablets, 768px and up) */
  @media (min-width: $screen-sm-min) {
    height: 400px;
    background-size: auto 100%;
    background-position: 20%;
  }
  @media (min-width: $screen-md-min) {
    height: 400px;
    background-size: cover;
    background-position: center left;
  }
}

/*-------------------------------------
  - Buttons
-------------------------------------*/
.btn {
  &.btn-radius {
    border-radius: 30px;
  }

  &.btn-white {
    color: white;
    &.btn-outline{
      border: 2px solid white;
      background-color: transparent;
    }
  }


  &.btn-primary {
    @include gradient-horizontal-three-colors($brand-primary, $brand-midcolor, 25%, $brand-secondary);
    border: 0;

    &.btn-outline{
      border: 2px solid white;
      background-color: transparent;
    }

    &.btn-inverted {
      position: relative;
      padding: 2px;

      &:hover {
        > span {
          background: transparent;
          color: white;
          @include transition(all .5s .5s, .5s);
        }
      }

      span {
        display: block;
        padding: 6px 30px;
        background: $gray-primary;
        border-radius: 30px;
        color: $brand-primary;
        font-weight: 200;
        font-size: 12px;
        @include transition(all .5s .5s, .5s);
      }
    }
  }
}

/*-------------------------------------
  - Pagination
-------------------------------------*/
.pagination {

  & > li > a,
  & > li > span {
    background: $gray-lighter;
    border: 1px darken($gray-lighter, 10%) solid;
    color: darken($gray-lighter, 40%);
  }

  // large pagination
  &.pagination-lg {

    & > li {
      &.button-show-details {
        & > a {
          img {
            width: 25px;
          }
          padding: 3.6px 14px;
          background: transparent;
          border: 0;
        }
      }

      & > a,
      & > span {
        font-size: 19px;
        padding: 4px 10px;
      }
    }

    @media (min-width: $screen-sm-min) {

      /* non mobile displays */
      & > li {
        &.button-show-details {
          & > a {
            img {
              width: auto;
            }
            padding: 12.6px 25px;
            background: transparent;
            border: 0;
          }
        }

        & > a,
        & > span {
          font-size: 25px;
          padding: 15px 25px;
        }
      }
    }
  }

  // active links
  & > li > a.active {
    color: black;
    background: darken($gray-lighter, 10%);
  }

  & > li:first-child > a,
  & > li:first-child > span,
  & > li:last-child > a,
  & > li:last-child > span {
    border-radius: 0;
  }
}

/*
|------------------------------------------------------------------
| UTILITIES
|------------------------------------------------------------------
|
|
*/

.text-muted {
  color: rgba(0, 0, 0, 0.6)!important;
}

.color-white {
  color: white;
}

.bg-content-secondary {
  background-color: $content-bg-secondary;
}

.modal {
  margin-top: 50px;

  .modal-content {
    box-shadow: none;
    border: 0;
    background: transparent;
  }
}

.select2-container--open {
  z-index: 99999999 !important;

  .select2-results__option.select2-results__option--highlighted {
    background: $brand-secondary !important;
  }
}

.bg-blank {
  background-color: white;
}

.bg-primary {
  background-color: $brand-primary;
}

.bg-secondary {
  background-color: $brand-secondary;
}

.bg-dark {
  background-color: #333333;
}

.bg-gradient {
  @include gradient-horizontal-three-colors($brand-primary, $brand-midcolor, 25%, $brand-secondary);
}

.font-serif{
  font-family: $font-family-serif;
}

.text-light{
  font-weight: 200;
}

/*
|------------------------------------------------------------------
| Modals
|------------------------------------------------------------------
|
|
*/
.modal-backdrop {
  @include gradient-horizontal-three-colors($brand-primary, $brand-midcolor, 25%, $brand-secondary);
  opacity: 1;

  &.in {
    opacity: 0.98;
  }
}

/*
|------------------------------------------------------------------
| Translations
|------------------------------------------------------------------
|
|
*/

.translations {

  .translation {
    @include clearfix();
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    .subject {

    }

    .words {

    }
  }
}

/*
|------------------------------------------------------------------
| Home
|------------------------------------------------------------------
|
|
*/

.hero-section {

  display: table;
  width: 100%;
  position: relative;

  &.auto-height {
    min-height: 100vh;
  }

  .hero-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    font-size: 14pt;

    .heading {
      padding: 40px 0 15px 0;
    }

    h1 {
      font-size: 40px;

      &.hero-title{
        margin-bottom: 30px;
        span{
          padding: 15px;
          display: inline-block;
        }
      }
    }

    /* Small devices (tablets, 768px and up) */
    @media (min-width: $screen-sm-min) {
      h1 {
        font-size: 50px;

        &.hero-title{
          margin-bottom: 30px;
          span{
            padding: 15px;
            display: inline-block;
          }
        }
      }
    }
    /* Medium devices (laptop and up) */
    @media (min-width: $screen-md-min) {
      h1 {
        font-size: 70px;

        &.hero-title{
          margin-bottom: 30px;
          span{
            padding: 15px;
            display: inline-block;
          }
        }
      }
    }
  }

  .hero-bg-image{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
    opacity: .2;
  }

}